@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 3px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #93785B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.logo:hover{
    color: white;
    text-decoration: none;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #3E362E;
}

.content-container {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.text {
    flex: 1;
    margin-right: 20px;
}

.image {
    flex: 0 0 300px;
}

.profile-image {
    width: 100%;
    border-radius: 10px;
}

.CV-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 10%;
    text-align: center;
}

.CV-Container embed {
    display: block;
    margin: 0 auto;
}

.CV-Container .download-button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #93785B;
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.CV-Container .download-button:hover{

    background-color: #3E362E;



}

footer {
    background: #93785B;
    color: white;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 10px;
}



footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer ul li {
    margin: 0 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #3E362E;
}

.Project-Container {
    text-align: center;
    padding-top: 100px;
}

.contact-container {
    max-width: 200px;
    margin: 10px auto;
    padding-top: 30px;
    background-color: #f9f9f9;
    border: 1px solid black;
  }
  
  .contact-container h1 {
    text-align: center;
    color: #333;
    padding-top: 10px;
  }
  
  form {
    flex-direction: column;
    color: black;

  }
  
  label {
    margin-bottom: 1px;
  }
  
  input, textarea {
    width: 100%;
    padding: 1px;
    margin-bottom: 1px;
    border: 1px solid black;
    border-radius: 1px;
  }
  
  button[type="submit"] {
    background-color: #93785B;
    color: #fff;
    padding: 5px;
    border: black;
  }
  
  button[type="submit"]:hover {
    background-color: #3E362E;
    text-decoration: none;
  }
    
